@model KOIFARMSHOP.Data.DTO.OrderDTO.OrderResponseModel;

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShippingAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeliveryMethod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmountVat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalAmountVat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PromotionTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PromotionTitle)
        </dd>
    </dl>
</div>

<div>
    <h4>Order Details</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.OrderDetails.First().ProductName)</th>
                <th>@Html.DisplayNameFor(model => model.OrderDetails.First().AnimalSpecies)</th>
                <th>@Html.DisplayNameFor(model => model.OrderDetails.First().Quantity)</th>
                <th>@Html.DisplayNameFor(model => model.OrderDetails.First().Price)</th>
                <th>@Html.DisplayNameFor(model => model.OrderDetails.First().Amount)</th>
                <th>@Html.DisplayNameFor(model => model.OrderDetails.First().Subtotal)</th>
                <th>@Html.DisplayNameFor(model => model.OrderDetails.First().Discount)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var detail in Model.OrderDetails)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => detail.ProductName)</td>
                    <td>@Html.DisplayFor(modelItem => detail.AnimalSpecies)</td>
                    <td>@Html.DisplayFor(modelItem => detail.Quantity)</td>
                    <td>@Html.DisplayFor(modelItem => detail.Price)</td>
                    <td>@Html.DisplayFor(modelItem => detail.Amount)</td>
                    <td>@Html.DisplayFor(modelItem => detail.Subtotal)</td>
                    <td>@Html.DisplayFor(modelItem => detail.Discount)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
