@model KOIFARMSHOP.Data.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-danger">Delete Product</h1>

<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Warning!</h4>
    <p>Are you sure you want to delete the following product? This action cannot be undone.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <!-- Placeholder for Product Image (if you want to include) -->
        @if (Model.ProductImages != null && Model.ProductImages.Any())
        {
            var isFirstImage = true;

            foreach (var image in Model.ProductImages)
            {
                <div class="carousel-item @(isFirstImage ? "active" : "")">
                    <img src="@image.ImageUrl" class="d-block w-75 h-auto" alt="Product Image" />
                </div>
                isFirstImage = false;
            }
        }
        else
        {
            <div class="carousel-item active">
                <img src="~/images/default-product.png" class="d-block w-100" alt="Default Image" />
            </div>
        }
    </div>
    <div class="col-md-6">
        <h4>Product Details</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Name)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Description)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Description)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Price)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Price)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.StockQuantity)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.StockQuantity)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Brand)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Brand)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Weight)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Weight)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Category)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Category.Name)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.CreatedByNavigation)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.CreatedByNavigation.FullName)</dd>

            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.ModifiedByNavigation)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.ModifiedByNavigation.FullName)</dd>
        </dl>
    </div>
</div>

<div class="mt-4">
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />

        <button type="submit" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i> Delete
        </button>

        <a asp-action="Index" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Back to List
        </a>
    </form>
</div>
