@model KOIFARMSHOP.Data.Models.Animal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row">
    <div class="col-md-4">
        <h4>Animal Images</h4>
        <hr />
        <div id="animalImageCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @if (Model.AnimalImages != null && Model.AnimalImages.Any())
                {
                    var isFirstImage = true;
                    foreach (var image in Model.AnimalImages)
                    {
                        <div class="carousel-item @(isFirstImage ? "active" : "")">
                            <img src="@image.ImageUrl" class="d-block w-100" alt="Animal Image" />
                        </div>
                        isFirstImage = false;
                    }
                }
                else
                {
                    <div class="carousel-item active">
                        <img src="~/images/default-animal.png" class="d-block w-75" alt="Default Image" />
                    </div>
                }
            </div>

            @if (Model.AnimalImages != null && Model.AnimalImages.Count > 1)
            {
                <a class="carousel-control-prev" href="#animalImageCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only text-secondary">Previous</span>
                </a>
                <a class="carousel-control-next" href="#animalImageCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only text-secondary">Next</span>
                </a>
            }
        </div>
    </div>

    <div class="col-md-8">
        <h4>Animal Information</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Name)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Origin)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Origin)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Species)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Species)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Type)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Type)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Gender)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Gender)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Size)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Size)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Certificate)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Certificate)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Price)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Price)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Status)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Status)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CreatedAt)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.CreatedAt)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.UpdatedAt)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.UpdatedAt)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.MaintenanceCost)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.MaintenanceCost)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Color)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Color)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.AmountFeed)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.AmountFeed)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.HealthStatus)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.HealthStatus)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.FarmOrigin)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.FarmOrigin)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.BirthYear)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.BirthYear)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Description)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>

            @if (Model.CreatedByNavigation != null)
            {
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CreatedByNavigation)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.CreatedByNavigation.FullName)</dd>
            }

            @if (Model.ModifiedByNavigation != null)
            {
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ModifiedByNavigation)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.ModifiedByNavigation.FullName)</dd>
            }
        </dl>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.AnimalId" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
